---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=fr-key&format=json&method=flickr.photos.search&nojsoncallback=1&text=dasf%20adsfakds%20fdkjf%20kdjf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":0,"perpage":100,"total":"0","photo":[]},"stat":"ok"}'
  recorded_at: Wed, 28 Apr 2021 04:31:48 GMT
recorded_with: VCR 6.0.0
