---
http_interactions:
- request:
    method: get
    uri: https://www.flickr.com/services/rest?api_key=fr-key&format=json&method=flickr.photos.search&nojsoncallback=1&text=libby,mt
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"photos":{"page":1,"pages":2,"perpage":100,"total":"162","photo":[{"id":"45975335341","owner":"129652149@N03","secret":"a0651a3f92","server":"4894","farm":5,"title":"Bear
        Wood","ispublic":1,"isfriend":0,"isfamily":0},{"id":"43403217984","owner":"67812736@N00","secret":"b7ae921810","server":"1843","farm":2,"title":"Immature
        Bald Eagle","ispublic":1,"isfriend":0,"isfamily":0},{"id":"28859609887","owner":"67812736@N00","secret":"730f9fff60","server":"850","farm":1,"title":"Micki
        on Kootenai","ispublic":1,"isfriend":0,"isfamily":0},{"id":"43071243474","owner":"67812736@N00","secret":"dc1c05a574","server":"1795","farm":2,"title":"Sheep
        II","ispublic":1,"isfriend":0,"isfamily":0},{"id":"[...]
