---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=ow-key&exclude=minutely,alerts&lat=48.38828&lon=-115.55581&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":48.3883,"lon":-115.5558,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619302326,"sunrise":1619267660,"sunset":1619318753,"temp":47.7,"feels_like":46.67,"pressure":1005,"humidity":71,"dew_point":38.77,"uvi":0.42,"clouds":20,"visibility":10000,"wind_speed":3.44,"wind_deg":170,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1619301600,"temp":47.7,"feels_like":47.7,"pressure":1005,"humidity":71,"dew_point":38.77,"uvi":0.42,"clouds":20,"visibility":98,"wind_speed":2.26,"wind_deg":46,"wind_gust":3.06,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":1,"rain":{"1h":0.45}},{"dt":1619305200,"temp":46.98,"feels_like":46.98,"pressure":1005,"humidity":77,"dew_point":40.15,"uvi":0.27,"clouds":36,"visibility":87,"wind_speed":2.06,"wind_deg":48,"wind_gust":2.71,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0.8},{"dt":1619308800,"temp":45.91,"feels_like":45.91,"pressure":1005,"humidity":82,"dew_point":40.75,"uvi":0.15,"clouds":52,"visibility":66,"wind_speed":1.86,"wind_deg":65,"wind_gust":2.57,"weather":[{"[...]
