---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=ow-key&exclude=minutely,alerts&lat=48.38828&lon=-115.55581&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":48.3883,"lon":-115.5558,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619571884,"sunrise":1619526543,"sunset":1619578216,"temp":58.78,"feels_like":55.81,"pressure":1016,"humidity":31,"dew_point":28.69,"uvi":0.66,"clouds":75,"visibility":10000,"wind_speed":9.22,"wind_deg":210,"wind_gust":19.57,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619571600,"temp":58.78,"feels_like":55.81,"pressure":1016,"humidity":31,"dew_point":28.69,"uvi":0.66,"clouds":75,"visibility":10000,"wind_speed":6.71,"wind_deg":247,"wind_gust":16.49,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619575200,"temp":57.47,"feels_like":54.66,"pressure":1016,"humidity":37,"dew_point":31.5,"uvi":0.18,"clouds":80,"visibility":10000,"wind_speed":5.41,"wind_deg":243,"wind_gust":11.16,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1619578800,"temp":54.36,"feels_like":51.69,"pressure":1016,"humidity":47,"dew_point":34.57,"uvi":0,"clouds":85,"visibility":10000,"wind_speed":4.16,"wind_deg":240,"wind_gust":7.07,"weather":[{"id":804,"m[...]
