---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=ow-key&exclude=minutely,alerts&lat=48.38828&lon=-115.55581&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":48.3883,"lon":-115.5558,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619495272,"sunrise":1619440248,"sunset":1619491729,"temp":47.28,"feels_like":47.28,"pressure":1008,"humidity":43,"dew_point":26.64,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":1.88,"wind_deg":217,"wind_gust":2.62,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1619492400,"temp":46.02,"feels_like":46.02,"pressure":1008,"humidity":53,"dew_point":30.13,"uvi":0,"clouds":6,"visibility":10000,"wind_speed":2.66,"wind_deg":225,"wind_gust":2.37,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619496000,"temp":47.28,"feels_like":47.28,"pressure":1008,"humidity":43,"dew_point":26.64,"uvi":0,"clouds":1,"visibility":10000,"wind_speed":1.88,"wind_deg":217,"wind_gust":2.62,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1619499600,"temp":45.41,"feels_like":45.41,"pressure":1009,"humidity":53,"dew_point":29.62,"uvi":0,"clouds":5,"visibility":10000,"wind_speed":1.36,"wind_deg":222,"wind_gust":2.75,"weather":[{"id":800,"main":"Clea[...]
