---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=ow-key&exclude=minutely,alerts&lat=48.38828&lon=-115.55581&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":48.3883,"lon":-115.5558,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619456593,"sunrise":1619440248,"sunset":1619491729,"temp":50,"feels_like":46.74,"pressure":1007,"humidity":57,"dew_point":35.38,"uvi":0.83,"clouds":75,"visibility":10000,"wind_speed":8.05,"wind_deg":230,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619456400,"temp":50,"feels_like":50,"pressure":1007,"humidity":57,"dew_point":35.38,"uvi":0.83,"clouds":75,"visibility":113,"wind_speed":1.57,"wind_deg":232,"wind_gust":2.8,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.57},{"dt":1619460000,"temp":48.9,"feels_like":48.9,"pressure":1007,"humidity":64,"dew_point":37.27,"uvi":1.15,"clouds":80,"visibility":247,"wind_speed":1.99,"wind_deg":264,"wind_gust":3.15,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.63},{"dt":1619463600,"temp":48.43,"feels_like":48.43,"pressure":1007,"humidity":69,"dew_point":38.75,"uvi":3.32,"clouds":85,"visibility":648,"wind_speed":2.82,"wind_deg":266,"wind_gust":4.05,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.74},{"dt":1619467200,"temp":49.19,"feels_like":48.38,"pressure":1007,"humidity":71,"dew_point":40.21,"uvi":3.42,"clouds":89,"visibility":10000,"wind_speed":3.42,"wind_deg":281,"wind_gust":5.08,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.75},{"dt":1619470800,"temp":50.47,"feels_like":48.51,"pressure":1006,"humidity":70,"dew_point":41.07,"uvi":3.08,"clouds":85,"visibility":10000,"wind_speed":4.16,"wind_deg":296,"wind_gust":6.53,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.73,"rain":{"1h":0.13}},{"dt":1619474400,"temp":52.05,"feels_like":50.05,"pressure":1005,"humidity":66,"dew_point":36.54,"uvi":3.68,"clouds":83,"visibility":10000,"wind_speed":4.16,"wind_deg":295,"wind_gust":6.85,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.53},{"dt":1619478000,"temp":52.61,"feels_like":50.54,"pressure":1005,"humidity":63,"dew_point":35.78,"uvi":2.43,"clouds":76,"visibility":10000,"wind_speed":3.89,"wind_deg":285,"wind_gust":7,"weather":[...]
