---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=JGYzegoYctf7c9eKqLu69okyJPznVGTa&location=libby,MT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 24 Apr 2021 17:59:07 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"libby,MT"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Libby","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"MT","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282028289","unknownInput":"","type":"s","latLng":{"lat":48.38828,"lng":-115.55581},"displayLatLng":{"lat":48.38828,"lng":-115.55581},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=JGYzegoYctf7c9eKqLu69okyJPznVGTa&type=map&size=225,160&locations=48.38828,-115.55581|marker-sm-50318A-1&scalebar=true&zoom=12&rand=245638514"}]}]}'
  recorded_at: Sat, 24 Apr 2021 17:59:08 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=80d0fc1196ef1f57628aad517acb93e5&exclude=minutely,alerts&lat=48.38828&lon=-115.55581&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":48.3883,"lon":-115.5558,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619287148,"sunrise":1619267660,"sunset":1619318753,"temp":48.65,"feels_like":46.2,"pressure":1007,"humidity":57,"dew_point":34.12,"uvi":0.93,"clouds":90,"visibility":10000,"wind_speed":5.75,"wind_deg":330,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619283600,"temp":47.77,"feels_like":47.77,"pressure":1007,"humidity":65,"dew_point":36.59,"uvi":0.67,"clouds":92,"visibility":125,"wind_speed":1.7,"wind_deg":120,"wind_gust":4.34,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.6,"rain":{"1h":0.3}},{"dt":1619287200,"temp":48.65,"feels_like":48.65,"pressure":1007,"humidity":57,"dew_point":34.12,"uvi":0.93,"clouds":90,"visibility":245,"wind_speed":1.45,"wind_deg":99,"wind_gust":3.96,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.64},{"dt":1619290800,"temp":47.98,"feels_like":47.98,"pressure":1007,"humidity":65,"dew_point":36.81,"uvi":0.7,"clouds":92,"visibility":263,"wind_speed":1.52,"wind_deg":62,"wind_gust":3.47,"weather":[{"[...]
