---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=mq-key&location=libby,MT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 26 Apr 2021 18:05:59 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"libby,MT"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Libby","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"MT","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282028289","unknownInput":"","type":"s","latLng":{"lat":48.38828,"lng":-115.55581},"displayLatLng":{"lat":48.38828,"lng":-115.55581},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mq-key&type=map&size=225,160&locations=48.38828,-115.55581|marker-sm-50318A-1&scalebar=true&zoom=12&rand=234243675"}]}]}'
  recorded_at: Mon, 26 Apr 2021 18:05:59 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=ow-key&exclude=minutely,alerts&lat=48.38828&lon=-115.55581&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":48.3883,"lon":-115.5558,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619460359,"sunrise":1619440248,"sunset":1619491729,"temp":50,"feels_like":49.3,"pressure":1007,"humidity":57,"dew_point":35.38,"uvi":1.03,"clouds":90,"visibility":10000,"wind_speed":3.44,"wind_deg":250,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}]},"hourly":[{"dt":1619460000,"temp":50,"feels_like":50,"pressure":1007,"humidity":57,"dew_point":35.38,"uvi":1.03,"clouds":90,"visibility":133,"wind_speed":1.95,"wind_deg":258,"wind_gust":3.2,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.53},{"dt":1619463600,"temp":49.01,"feels_like":49.01,"pressure":1007,"humidity":64,"dew_point":37.38,"uvi":3.25,"clouds":92,"visibility":223,"wind_speed":2.57,"wind_deg":265,"wind_gust":3.83,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.73},{"dt":1619467200,"temp":49.03,"feels_like":49.03,"pressure":1007,"humidity":67,"dew_point":38.57,"uvi":3.35,"clouds":94,"visibility":10000,"wind_speed":2.98,"wind_deg":280,"wind_gust":4.7,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.75},{"dt":1619470800,"temp":50.81,"feels_like":48.69,"pressure":1006,"humidity":66,"dew_point":39.88,"uvi":3.02,"clouds":89,"visibility":10000,"wind_speed":3.31,"wind_deg":291,"wind_gust":6.53,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.66,"rain":{"1h":0.12}},{"dt":1619474400,"temp":52.5,"feels_like":50.41,"pressure":1005,"humidity":63,"dew_point":40.3,"uvi":3.82,"clouds":81,"visibility":10000,"wind_speed":3.44,"wind_deg":284,"wind_gust":7.54,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.52},{"dt":1619478000,"temp":53.02,"feels_like":50.94,"pressure":1005,"humidity":62,"dew_point":36.05,"uvi":2.52,"clouds":74,"visibility":10000,"wind_speed":3.91,"wind_deg":268,"wind_gust":7.7,"weather":[...]
