---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=JGYzegoYctf7c9eKqLu69okyJPznVGTa&location=libby,MT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sat, 24 Apr 2021 03:39:40 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"libby,MT"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Libby","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"MT","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282028289","unknownInput":"","type":"s","latLng":{"lat":48.38828,"lng":-115.55581},"displayLatLng":{"lat":48.38828,"lng":-115.55581},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=JGYzegoYctf7c9eKqLu69okyJPznVGTa&type=map&size=225,160&locations=48.38828,-115.55581|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1033216227"}]}]}'
  recorded_at: Sat, 24 Apr 2021 03:39:40 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=80d0fc1196ef1f57628aad517acb93e5&exclude=minutely,alerts&lat=48.38828&lon=-115.55581&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":48.3883,"lon":-115.5558,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619235581,"sunrise":1619181369,"sunset":1619232266,"temp":50,"feels_like":49.3,"pressure":1008,"humidity":50,"dew_point":32.11,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":3.44,"wind_deg":100,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1619233200,"temp":48.4,"feels_like":48.4,"pressure":1009,"humidity":57,"dew_point":33.89,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":2.71,"wind_deg":97,"wind_gust":2.46,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1619236800,"temp":50,"feels_like":50,"pressure":1008,"humidity":50,"dew_point":32.11,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":2.64,"wind_deg":102,"wind_gust":2.71,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1619240400,"temp":48.24,"feels_like":48.24,"pressure":1009,"humidity":58,"dew_point":34.18,"uvi":0,"clouds":91,"visibility":10000,"wind_speed":2.44,"wind_deg":101,"wind_gust":2.39,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1619244000,"temp":46.26,"feels_like":46.26,"pressure":1010,"humidity":66,"dew_point":35.55,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":2.28,"wind_deg":104,"wind_gust":2.24,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1619247600,"temp":44.37,"feels_like":44.37,"pressure":1010,"humidity":74,"dew_point":36.61,"uvi":0,"clouds":96,"visibility":10000,"wind_speed":2.08,"wind_deg":112,"wind_gust":2.15,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.26},{"dt":1619251200,"temp":42.55,"feels_like":42.55,"pressure":1011,"humidity":84,"dew_point":38.07,"uvi":0,"clouds":98,"visibility":8667,"wind_speed":1.63,"wind_deg":86,"wind_gust":1.77,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"pop":0.42,"snow":{"1h":0.15}},{"dt":1619254800,"temp":39.99,"feels_like":39.99,"pressure":1011,"humidity":98,"dew_point":34.83,"uvi":0,"clouds":100,"visibility":303,"wind_speed":1.45,"wind_deg":59,"wind_gust":1.92,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"pop":0.53,"snow":{"1h":0.46}},{"dt":1619258400,"temp":39.85,"feels_like":39.85,"pressure":1011,"humidity":99,"dew_point":34.83,"uvi":0,"clouds":100,"visibility":67,"wind_speed":1.39,"wind_deg":72,"wind_gust":1.97,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10n"}],"pop":0.57,"rain":{"1h":0.58}},{"dt":1619262000,"temp":40.08,"feels_like":40.08,"pressure":1011,"humidity":99,"dew_point":34.99,"uvi":0,"clouds":100,"visibility":55,"wind_speed":1.45,"wind_deg":85,"wind_gust":2.04,"weather":[{"id":600,"main":"Snow","description":"light
        snow","icon":"13n"}],"pop":0.57,"snow":{"1h":0.49}},{"dt":1619265600,"temp":40.1,"feels_like":40.1,"pressure":1011,"humidity":99,"dew_point":35.1,"uvi":0,"clouds":100,"visibility":54,"wind_speed":1.74,"wind_deg":78,"wind_gust":2.42,"weather[...]
