---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=mq-key&location=libby,MT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 25 Apr 2021 17:57:35 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"libby,MT"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Libby","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"MT","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282028289","unknownInput":"","type":"s","latLng":{"lat":48.38828,"lng":-115.55581},"displayLatLng":{"lat":48.38828,"lng":-115.55581},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=mq-key&type=map&size=225,160&locations=48.38828,-115.55581|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1636667357"}]}]}'
  recorded_at: Sun, 25 Apr 2021 17:57:36 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=ow-key&exclude=minutely,alerts&lat=48.38828&lon=-115.55581&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":48.3883,"lon":-115.5558,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1619373456,"sunrise":1619353953,"sunset":1619405241,"temp":44.69,"feels_like":41.49,"pressure":1004,"humidity":76,"dew_point":37.6,"uvi":1.83,"clouds":75,"visibility":10000,"wind_speed":5.75,"wind_deg":190,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1619370000,"temp":44.65,"feels_like":44.65,"pressure":1004,"humidity":80,"dew_point":38.88,"uvi":1.32,"clouds":80,"visibility":283,"wind_speed":2.39,"wind_deg":229,"wind_gust":4.03,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.75},{"dt":1619373600,"temp":44.69,"feels_like":44.69,"pressure":1004,"humidity":76,"dew_point":37.6,"uvi":1.83,"clouds":75,"visibility":4502,"wind_speed":2.46,"wind_deg":240,"wind_gust":4.43,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.83},{"dt":1619377200,"temp":45.75,"feels_like":45.75,"pressure":1004,"humidity":76,"dew_point":38.64,"uvi":3.2,"clouds":80,"visibility":8812,"wind_speed":2.28,"wind_deg":257,"wind_gust":5.01,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0.72},{"dt":1619380800,"temp":47.53,"feels_like":46.8,"pressure":1004,"humidity":73,"dew_point":39.33,"uvi":3.3,"clouds":85,"visibility":10000,"wind_speed":3.09,"wind_deg":263,"wind_gust":6.22,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.77},{"dt":1619384400,"temp":48.85,"feels_like":47.62,"pressure":1003,"humidity":70,"dew_point":39.51,"uvi":2.97,"clouds":90,"visibility":10000,"wind_speed":3.89,"wind_deg":263,"wind_gust":6.06,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.97,"rain":{"1h":0.17}},{"dt":1619388000,"temp":50.9,"feels_like":48.79,"pressure":1002,"humidity":66,"dew_point":39.96,"uvi":3.03,"clouds":95,"visibility":10000,"wind_speed":4.41,"wind_deg":265,"wind_gust":6.49,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":1,"rain":{"1h":0.28}},{"dt":1619391600,"temp":51.53,"feels_like":49.48,"pressure":1002,"humidity":66,"dew_point":36.01,"uvi":2.01,"clouds":100,"visibility":10000,"wind_speed":4.63,"wind_deg":270,"wind_gust":6[...]
